[Desktop Entry]
Type=Application
Name=唤启
Name[en_US]=Launcher Deck
Comment=所有应用，一屏全览，一唤即启
Exec=/usr/bin/deepin-launcherdeck
Icon=/usr/share/icons/hicolor/256x256/apps/deepin-launcherdeck.png
StartupWMClass=deepin-launcherdeck
Terminal=false
Categories=Utility;
Keywords=deck;launcher;apps;启动器;应用;
