[Desktop Entry]
Type=Application
Name=唤启
Name[en_US]=Launcher Deck
Comment=所有应用，一屏全览，一唤即启
Exec=/usr/bin/deepin-launcherdeck
Icon=launcher-deck
Terminal=false
Categories=Utility;
